name: .NET

env:
  PACK_ID: Sims1-LC-Debug-Cheat-Unlocker
  PACK_VER: 1.0.0

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: "5.x"
      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -r linux-x64
      - name: Publish
        run: dotnet publish Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -c Release -o artifacts -p:VersionPrefix=${{ steps.gitversion.outputs.SemVer }} -p:PublishSingleFile=true -p:SelfContained=true -p:DebugType=embedded -p:IncludeNativeLibrariesForSelfExtract=true -p:EnableCompressionInSingleFile=true -p:PublishTrimmed=true -p:RuntimeIdentifier=linux-x64
      - name: Upload a Build Artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACK_ID }}.${{ steps.gitversion.outputs.SemVer }}+linux.x64
          path: artifacts/Sims1-Legacy-Collection-Debug-Cheat-Unlocker

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: "5.x"
      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -r win-x64
      - name: Publish
        run: dotnet publish Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -c Release -o artifacts -p:VersionPrefix=${{ steps.gitversion.outputs.SemVer }} -p:PublishSingleFile=true -p:SelfContained=true -p:DebugType=embedded -p:IncludeNativeLibrariesForSelfExtract=true -p:EnableCompressionInSingleFile=true -p:PublishTrimmed=true -p:RuntimeIdentifier=win-x64
      - name: Upload a Build Artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACK_ID }}.${{ steps.gitversion.outputs.SemVer }}+win.x64
          path: artifacts/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.exe

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: "5.x"
      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -r osx-x64
      - name: Publish
        run: dotnet publish Sims1-Legacy-Collection-Debug-Cheat-Unlocker/Sims1-Legacy-Collection-Debug-Cheat-Unlocker.csproj -p:RuntimeIdentifier=osx-x64 -o artifacts -p:Configuration=Release -p:TargetFramework=net9.0 -p:VersionPrefix=${{ steps.gitversion.outputs.SemVer }} -p:SelfContained=true -p:PublishTrimmed=true
      - name: Set Executable
        run: chmod -R +x artifacts/
      - name: Tar to Preserve Permissions
        run: tar -cvf ${{ env.PACK_ID }}.${{ steps.gitversion.outputs.SemVer }}+macOS.x64.tar -C artifacts/ .
      - name: Upload a Build Artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACK_ID }}.${{ steps.gitversion.outputs.SemVer }}+macOS.x64
          path: ${{ env.PACK_ID }}.${{ steps.gitversion.outputs.SemVer }}+macOS.x64.tar